body{
    background-color: rgb(241, 241, 181);
}

.seperation{
    display: flex;
    flex-direction: row;
}

.Status{
    flex: 1;
}

.content{
    flex: 5;
    display: flex;
    flex-direction: column;
}

.addticket{
    height: max(20vh, 100px);
}

.tickets{
    flex : 5;
}