body{
    background-color: white;
    display: flex;
    flex-direction: row;
}

.left-section{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.right-section{
    flex: 5;
    display: flex;
    flex-direction: column;
}

.add-ticket{
    height: max(20vh, 150px);
}

.tickets{
    flex : 1;
    display: flex;
    flex-wrap: wrap;
}

li{
    list-style:none;
    margin:1em;
}

li a{
    text-decoration:none;
    color:#000;
    background:rgb(250, 250, 170);
    display:block;
    height:10em;
    width:10em;
    padding:1em;
}

.right-section p {
font-family: 'Delicious Handrawn', cursive;
font-size: 1.5rem;
}
  